{% extends "general_reports_site.html" %}

{% block content %}
    <div class="text-center col-md-10 col-sm-8 main-content">
        <ul class="list-group">
            {% for platform in platforms %}

                <a role=" button" class="btn btn-secondary button-group-item active btn-lg"
                    name="platform_name"
                href={{ url_for( name,
                                 instances=url_params.get('instances'),
                                 country=url_params.get('country'),
                                 periodType=url_params.get('periodType'),
                                 dt=url_params.get('dt'),
                                 plan_id= platform )}} >
                    {{ platform }}
                </a>
            {% endfor %}

        </ul>
        <div id={{ data['title']['text']|safe }} ></div>
            <script src="https://code.highcharts.com/highcharts.js"></script>
            <script src="https://code.highcharts.com/modules/exporting.js"></script>
            <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
		<script>
			var chart_id = {{ data['title']['text']|safe }}
	   		var series = {{ data['series']|safe }}
			var title = {{ data['title']|safe}}
			var xAxis = {{ data['xAxis']|safe }}
			var yAxis = {{ data['yAxis']|safe }}
			var chart = {{ data['chart']|safe }}

		</script>
        <script src="/static/js/general_chart.js"></script>

    </div>


{% endblock %}